.container {
    padding-top: 100px;
}
.card {
    border-radius: 15px;
    border: none;
    background-color: salmon;
    color: white;
}
.card-body {
    cursor: pointer;
    padding:0;
    border-radius: 15px;
    overflow: hidden;
}
.buttons {
    position:relative;
    top: 60px;
    background-color: rgba(0, 0, 0, 0.274);
    padding-top: 10px;
    padding-bottom: 10px;
}
.card:hover .buttons {
    top: 0px;
    transition: 0.5s;
}
.card-title {
    display: flex;
    padding: 10px 20px 0px 20px;
}
span {
    margin-left:auto;
}
.add-task {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
}
#add {
    font-size: 30px;
    margin-left: 10px;
}
#input {
    padding: 0px 30px;
    height: 55px;
    border-radius: 30px;
    outline: none;
    background: #e6e6e6;
    border: none;
    font-weight: 700;
    font-size: 15px;
    line-height: 1.5;
    color: #666666;
    overflow:auto;
    text-align: left;
    cursor: text;
    font-family: 'Montserrat', sans-serif;
    width: 80%;
}
#input::placeholder {
    color: #66666652;
}
#green, #salmon, #red, #violet, #skyblue {
    width: 30px;
    height: 30px;
    border-radius: 30px;
    outline: none;
    border: 1px solid white;
    margin-left: 5px;
    margin-right: 5px;
}
#green {
    
    background-color: lightgreen;
}
#salmon {
    background-color: salmon;
}
#red {
    background-color: red;
}
#violet {
    background-color: violet;
}
#skyblue {
    background-color: skyblue;
}